
.form{
	margin-top: 20px;
	width: 350px; 
	height: 350px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	z-index: 1;
	border-radius: 10px;
}

body{
	background-image:url('logout.jpg');

	
	background-size:cover;
	background-repeat:no-repeat;

  
}

.button{
	margin-left: 40%;
	border: none;
	outline:none;
	height: 40px;
	background: rgba(226, 71, 47, 0.5);
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
	transition: 0.5s;

}

.button:hover{
	cursor: pointer;
	background: #39dc79;
	color: #000;
	transition: 0.5s;
}
